.animiSection {
    width: 85%;
    margin: auto;
    padding: 20px;
    background-color: var(--cbc);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.300);
    text-align: center;
}

.animiSection p {
    text-align: justify;
    padding: 0 30px;
}

.animiSection h2 {
    padding: 10px;
}