/*#region---------------------------------Basic-----------------------------------*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Righteous", cursive;
    font-family: "Raleway", sans-serif;
    background: url(../img/bg-tile.jpg);
}

.section {
    width: 90%;
    background-color: #fcf888;
    background-image: linear-gradient(315deg, #fcf888 0%, #bddcf1 74%);
    box-shadow: 0 10px 20px 15px rgba(0, 0, 0, 0.5);
}

.section-header {
    padding: 40px 0;
}

.section-title {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-weight: bolder;
    font-family: "Righteous", cursive !important;
    font-size: 34px;
}

.section-header h4 {
    padding-bottom: 0;
}

p {
    font-size: 20px;
}

#aside-photo p {
    font-size: 14px;
}

a:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

a, h3 span, footer p {
    font-family: "Righteous", cursive;
}

/*#endregion*/

/*#region---------------------------------Nav-------------------------------------*/

#navigation {
    background: #e3f2fd;
}

.navbar-toggler {
    background-color: teal;
    margin-right: 30px;
}

.navbar {
    border-bottom: 2px solid teal;
    margin-bottom: 0;
    padding: 0;
}

#logo {
    border-radius: 5px;
    width: 50px;
    margin-left: 100px;
    transition: 0.4s;
}

.navbar-brand {
    height: 70px;
    margin: 1px;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    font-size: 28px;
}

/*#endregion*/

/*#region---------------------------Parallax-Pic-1--------------------------------*/

#pp1 {
    height: 80vh;
    background: url(/img/20181126_171708.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 250px;
    text-align: center;
    text-transform: uppercase;
}

.bounce-in-top {
    animation: bounce-in-top 1.5s both;
}

#pp1 h3 {
    font-weight: bolder;
    color: beige;
    font-size: 28px;
}

#text-board {
    text-align: center;
    margin: auto;
    background-image: linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0.3));
    padding: 5px;
    border-radius: 10px;
}

#text-board .title {
    margin: 0;
}

span.color {
    color: teal;
    text-shadow: 2px 2px #000;
}

.highlight {
    background-color: teal;
    color: #e3f2fd;
    text-shadow: 2px 2px #000;
}

/*#endregion*/

/*#region--------------------------------About------------------------------------*/

#about {
    min-height: 80%;
}

.anchor {
    height: 80px;
    display: block;
    margin-top: -80px;
    /* this is again negative value of the height of your header */
    visibility: hidden;
}

.about-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.2em;
}

.CV {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    background: teal;
    padding: 10px;
    border-radius: 5px;
}

.linkedin {
    width: 50px;
}

#head-shot {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    float: left;
    margin: 1em;
    border: 2px solid teal;
    shape-outside: circle();
}

#head-p {
    font-style: italic;
    text-align: center;
    font-size: 14px
}

#about-txt {
    text-align: justify;
    padding: 0 30px 30px 30px;
}

#about p {
    font-family: "Raleway";
}

/*#endregion*/

/*#region---------------------------Parallax-Pic-2--------------------------------*/

#pp2 {
    height: 80vh;
    background: url(/img/20181127_113500.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 150px;
    background-attachment: fixed;
}

/*#endregion*/

/*#region-------------------------------Projects----------------------------------*/

.projects-txt {
    padding: 30px;
    text-align: justify;
}

#projects .row {
    padding-bottom: 20px;
}

.proj-links {
    padding: 15px;
    margin: auto;
}

.proj-links img {
    width: 100%;
}

.proj-links button {
    width: 50% !important;
    margin-top: 15px !important;
    display: flex;
}

.proj-thumb {
    border: 2px solid black;
    box-shadow: 0 10px 20px 15px rgba(0, 0, 0, 0.5);
}

.modal-btn {
    background-color: black !important;
    border: black !important;
    font-family: "Righteous", cursive;
    width: 100px;
}

.modal-btn a {
    text-decoration: none;
    color: white !important;
}

.modal-btn:hover {
    box-shadow: 3px 4px grey;
}

.btn-primary {
    margin: auto !important;
    justify-content: center !important;
    width: 150px !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem teal;
}

.modal-header h5 {
    font-family: "Righteous";
}

.modal-body p {
    text-align: justify;
    font-family: "Raleway";
}

/*#endregion*/

/*#region---------------------------Parallax-Pic-3--------------------------------*/

#pp3 {
    height: 80vh;
    background: url(/img/benjamin-davies-Oja2ty_9ZLM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 150px;
    background-attachment: fixed;
}

/*#endregion*/

/*#region-------------------------------Contact-----------------------------------*/

#contact {
    text-align: center;
    margin-bottom: 50px;
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99;
    background-color: black !important;
    border: black !important;
    font-family: "Righteous", cursive;
    color: white;
    border-radius: 6px;
    padding: 5px 15px;
    transition: 0.4s;
}

#top-btn:hover {
    box-shadow: 3px 4px grey;
}

.soc-logo {
    width: 50px;
    margin: 0 25px 25px 25px;
}

.hidden {
    display: none;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.button:hover {
    border-color: #cdd;
}

.share-button, .copy-link {
    padding-left: 30px;
    padding-right: 30px;
}

.share-button, .share-dialog {
    background: transparent;
    border: none;
}

.share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.share-dialog.is-open {
    display: block;
    position: relative;
    top: 50%;
    left: 25%;
    z-index: 2;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.close-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.close-button svg {
    margin-right: 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
}

.pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*#endregion*/

/*#region--------------------------------Footer-----------------------------------*/

footer {
    background: #e3f2fd;
    border-top: 2px solid teal;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

/*#endregion*/

/*#region--------------------------Bounce-In-Top----------------------------------*/

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

/*#endregion*/

/*#region-------------------------------MediaQ------------------------------------*/

@media (max-width: 990px) {
    .share-dialog.is-open {
        left: 15%;
    }
}

@media (max-width: 767px) {
    .share-dialog.is-open {
        left: 3%;
    }
}

@media (max-width: 576px) {
    #logo {
        margin-left: 30px;
    }
    .section-head {
        padding-top: 15px;
    }
    #text-board {
        width: 75%;
    }
    #head-shot { 
        width: 45%;
        height: 45%;
    }
    #about-txt {
        padding: 0 10px 10px 10px;
    }
    .proj-links button {
        width: 80% !important;
    }
    #top-btn {
        bottom: 36px;
    }
}

/*#endregion*/