/*#region---------------------------------Basic-----------------------------------*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Righteous", cursive;
    font-family: "Raleway", sans-serif;
    background: url(../img/bg-tile.jpg);
}

.section {
    width: 90%;
    background-color: #fcf888;
    background-image: linear-gradient(315deg, #fcf888 0%, #bddcf1 74%);
    box-shadow: 0 10px 20px 15px rgba(0, 0, 0, 0.5);
}

.section-header {
    padding: 40px 0;
}

.section-title {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-weight: bolder;
    font-family: "Righteous", cursive !important;
    font-size: 34px;
}

p {
    font-size: 20px;
}

#aside-photo p {
    font-size: 14px;
}

a, h3 span, footer p {
    font-family: "Righteous", cursive;
}

/*#endregion*/

/*#region---------------------------------Nav-------------------------------------*/

#navigation {
    background: #e3f2fd;
}

.navbar-toggler {
    background-color: teal;
    margin-right: 30px;
}

.navbar {
    border-bottom: 2px solid teal;
    margin-bottom: 0;
    padding: 0;
}

#logo {
    border-radius: 5px;
    width: 50px;
    margin-left: 100px;
    transition: 0.4s;
}

.navbar-brand {
    height: 70px;
    margin: 1px;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    font-size: 28px;
}

/*#endregion*/

/*#region---------------------------Parallax-Pic-1--------------------------------*/

#pp1 {
    height: 80vh;
    background: url(/img/20181126_171708.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 250px;
    text-align: center;
    text-transform: uppercase;
}

.bounce-in-top {
    animation: bounce-in-top 1.5s both;
}

#pp1 h3 {
    font-weight: bolder;
    color: beige;
    font-size: 28px;
}

#text-board {
    text-align: center;
    margin: auto;
    background-image: linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0.3));
    padding: 5px;
    border-radius: 10px;
}

#text-board .title {
    margin: 0;
}

span.color {
    color: teal;
    text-shadow: 2px 2px #000;
}

.highlight {
    background-color: teal;
    color: #e3f2fd;
    text-shadow: 2px 2px #000;
}

/*#endregion*/

/*#region--------------------------------About------------------------------------*/

#about {
    min-height: 80%;
}

.anchor {
    height: 80px;
    display: block;
    margin-top: -80px;
    /* this is again negative value of the height of your header */
    visibility: hidden;
}

#aside-photo {
    width: 30%;
    text-align: center;
    padding: 30px;
}

#aside-photo p {
    padding: 10px;
    font-style: italic;
}

#head-shot {
    width: 100%;
    border-radius: 50%;
    border: 2px solid teal;
}

#about-txt {
    width: 70%;
    float: right;
    text-align: justify;
    padding: 0 50px 50px 30px;
}

#about p {
    font-family: "Raleway";
}

/*#endregion*/

/*#region---------------------------Parallax-Pic-2--------------------------------*/

#pp2 {
    height: 80vh;
    background: url(/img/20181127_113500.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 150px;
    background-attachment: fixed;
}

/*#endregion*/

/*#region-------------------------------Projects----------------------------------*/

.projects-txt {
    padding: 30px;
    text-align: justify;
}

#projects .row {
    padding-bottom: 20px;
}

.proj-links {
    padding: 15px;
    margin: auto;
}

.proj-links img {
    width: 100%;
}

.proj-links button {
    width: 50% !important;
    margin-top: 15px !important;
    display: flex;
}

.proj-thumb {
    border: 2px solid black;
    box-shadow: 0 10px 20px 15px rgba(0, 0, 0, 0.5);
}

.modal-btn {
    background-color: black !important;
    border: black !important;
    font-family: "Righteous", cursive;
    width: 100px;
}

.modal-btn a {
    text-decoration: none;
    color: white !important;
}

.modal-btn:hover {
    box-shadow: 3px 4px grey;
}

.btn-primary {
    margin: auto !important;
    justify-content: center !important;
    width: 150px !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem teal;
}

.modal-header h5 {
    font-family: "Righteous";
}

.modal-body p {
    text-align: justify;
    font-family: "Raleway";
}

/*#endregion*/

/*#region---------------------------Parallax-Pic-3--------------------------------*/

#pp3 {
    height: 80vh;
    background: url(/img/benjamin-davies-Oja2ty_9ZLM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 150px;
    background-attachment: fixed;
}

/*#endregion*/

/*#region-------------------------------Contact-----------------------------------*/

#contact {
    text-align: center;
    margin-bottom: 50px;
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99;
    background-color: black !important;
    border: black !important;
    font-family: "Righteous", cursive;
    color: white;
    border-radius: 6px;
    padding: 5px 15px;
    transition: 0.4s;
}

#top-btn:hover {
    box-shadow: 3px 4px grey;
}

.soc-logo {
    width: 50px;
    margin: 0 25px 25px 25px;
}

#share-btn {
    background: none;
    border: none;
}

/*#endregion*/

/*#region--------------------------------Footer-----------------------------------*/

footer {
    background: #e3f2fd;
    border-top: 2px solid teal;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

/*#endregion*/

/*#region--------------------------Bounce-In-Top----------------------------------*/

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

/*#endregion*/

/*#region-------------------------------MediaQ------------------------------------*/

@media (max-width: 576px) {
    #logo {
        margin-left: 30px;
    }
    .section-head {
        padding-top: 15px;
    }
    #text-board {
        width: 75%;
    }
    .about-mediaQ {
        display: grid;
    }
    #aside-photo {
        width: 80%;
        padding: 5px;
        justify-self: center;
    }
    #about-txt {
        width: 90%;
        padding: 5px;
        justify-self: center;
    }
    .projects-txt {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .proj-links button {
        width: 80% !important;
    }
    #top-btn {
        bottom: 36px;
    }
}

/*#endregion*/
