* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 300px;
}

#footer{
    background-color: rgba(53, 11, 0, 0.692);
    position: relative;
    height: 300px;
    margin-top: -300px;
    clear: both;
    text-align: center;
    padding: 50px 0;
    font-size: 36px;
}

#footer p{
    padding-bottom: 10px;
}

#ex-sign{
    max-width: 50px;
    display: inline;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: beige;
    background-color: #805F43;
    background-image: url(img/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    border-radius: 10px;
    color: beige;
    background: #0d0d13;
    border: 1px solid;
    padding: 10px 20px;
    font-family: 'Caveat Brush'
}

/*back to the top button*/
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 10px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    width: 80px;
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 20px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

img {
    max-width: 100%;
    background-color: #0000009a;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: peru;
    padding: 5px;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h3 {
    background-color: #0000009a;
    border-radius: 10px;
}

h4 {
    font-weight: normal;
    margin: 0;
    padding-left: 20px;
}

.title {
    font-family: 'Caveat Brush';
    font-size: 32px;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}

#home {
    background: #0d0d13;
}

#break {
    background: #fca644;
}

#soups {
    background: #66400e;
}

#veg {
    background: #247021;
}

#fish {
    background: #232170;
}

#chick {
    background: #be5a5a;
}

#pork {
    background: #af1c1c;
}

#beef {
    background: #490606;
}

#dess {
    background: #ec48b5;
}

.welcome {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas: "logo favs" "intro intro" "comment comment";
    gap: 10px;
    max-width: 100%;
    font-size: 24px;
    justify-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(53, 11, 0, 0.692);
}

.logo {
    grid-area: logo;
    background-color: transparent;
    justify-self: right;
}

.favs {
    grid-area: favs;
    justify-self: left;
    align-self: center;
    font-size: 3em;
    text-align: center;
}

.intro {
    grid-area: intro;
    text-align: center;
}

.comment {
    grid-area: comment;
    text-align: center;
}


#navButton{
    display: none;
}

[aria-controls="Menu"] {
    display: none;
}

.recipe {
    grid-area: recipe;
    display: grid;
    grid-auto-columns: 25% 1fr;
    grid-template-areas: 
    "cat_name cat_name"
    "rc_block ingredients"
    "method method";
}

.cat_name {
    grid-area: cat_name;
    justify-self: center;
    font-size: 42px;
    padding: 100px 0 30px 0;
}

.rc_block {
    grid-area: rc_block;
    padding: 20px;
    justify-self: center;
    text-align: center;
    margin: 10px;
}

.ingredients {
    grid-area: ingredients;
    padding: 20px;
    background-color: #0000009a;
    border-radius: 10px;
    margin: 10px;
}

.ingredients ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 50px;
}

.method {
    grid-area: method;
    padding: 20px;
    background-color: #0000009a;
    border-radius: 10px;
    margin: 10px;
}

.rc_block {
    grid-area: rc_block;
    max-width: 100%;
    justify-self: center;
}

/*TABS*/

.tabbed > input{
    display : none;
}

.tabbed > input:not(:checked) + section > div{
    display : none;
}

.tabbed > section > h1{
    float : left;
}

.tabbed > section > div{
    float  : right;
    width  : 100%;
    margin : 2.5em 0 0 -100%;
}

.tabbed{
    float : left;
    width: 100%;
}

.tabbed > section > h1 > label{
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.tabbed > section > h1{
    min-width: 170px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding : 0.5em 0.5em 0;
    overflow: hidden;
    font-size: 1em;
    font-weight: normal;
}
  
.tabbed > section > h1 > label{
    display: block;
    padding: 0.25em 0.75em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.0625);
    background: #fff;
}



  @media (max-width: 1000px) {

    .logo{
        align-self: center;
        justify-self: right;
    }
    .favs{
        align-self: center;
        justify-self: left;
        font-size: 2em;
    }
    button{
        align-self: center;
        font-size: 20px;
    }
    #navButton{
        display: block;
        margin: 0 0 0 50px;
    }
    .Menu {
        padding: 20px;
        perspective: 800px;
        max-height: 0;
        overflow: hidden;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }
    [aria-controls="Menu"] {
        display: block;
        margin-bottom: 10px;
    }
        [aria-expanded="true"]~Menu {
        display: grid;
        max-height: 500px;
        transform: rotateX(0);
    }
    [aria-expanded="false"] .close {
        display: none;
    }
    [aria-expanded="true"] .close {
        display: inline-block;
    }
    [aria-expanded="true"] .open {
        display: none;
    }
        .cat_name{
        padding: 0;
        margin-top: -30px;
    }
    .recipe {
        grid-template-areas: 
        "cat_name cat_name"
        "rc_block ingredients"
        "method method";
    }
    .rc_block{
        align-self: center;
    }
}

@media (max-width: 700px) {

    .recipe {
        grid-template-areas: 
        "cat_name cat_name"
        "rc_block rc_block"
        "ingredients ingredients"
        "method method";
    }
    .ingredients, .method {
        margin: 5px;
    }
    #main {
        overflow: auto;
        padding-bottom: 450px;
    }
    
    #footer {
        background-color: rgba(53, 11, 0, 0.692);
        position: relative;
        height: 450px;
        margin-top: -450px;
        clear: both;
        text-align: center;
        padding: 50px 0;
        font-size: 36px;
    }
}

@media (max-width: 500px) {

    .menu-list li {
        padding: 5px;
    }
    .menu-list a {
        padding: 5px;
    }

    .logo{
        align-self: center;
    }
    .recipe {
        grid-template-columns: 100%;
        grid-template-areas: 
        "cat_name"
        "rc_block"
        "ingredients"
        "method";
    }
    .ingredients, .method {
        margin: 5px;
    }
    .ingredients ul {
        display: block;
    }
}