@font-face {
    font-family: 'friz-quadrata';
    src: url('../fonts/FrizQuadrataTT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-title: 'friz-quadrata', serif;
$font-txt: 'Libre Caslon Text', serif;