@media (max-width: 992px) {
    #navbar {
        padding: 0 15px 0 0;
    }
    .nav-info a {
        font-size: 0.85rem;
    }
    #phoneNo {
        justify-self: start;
        padding: 0;
    }
    .contact-wrapper {
        margin: 100px 0 50px 50px;
        padding: 15px;
        gap: 15px;
        width: 50%;
    }
    .contact-left, .contact-right {
        padding: 10px;
    }
    footer {
        grid-template-columns: 90% 1fr;
    }
    footer h2 {
        text-align: center;
    }
    .tz-gallery {
        padding: 10px;
    }
    .tattoo-info ul, .tattoo-info ol {
        text-align: justify;
    }
    .tattoo-info ol {
        padding-right: 5px;
    }
    .facial-pic {
        width: 70%;
    }
}

@media (max-width: 768px) {
    nav {
        height: 140px;
        align-content: center;
        grid-template-columns: 30% 1fr;
    }
    .nav-item {
        height: 45px;
        width: 120px;
    }
    .nav-link, .nav-info a {
        padding: 0;
    }
    .logo {
        height: 90px;
    }
    .contactSection {
        background-position-x: -800px;
    }
    .contact-wrapper {
        margin: 100px 0 50px 50px;
    }
    .contact-left, .contact-right {
        grid-column: span 2;
    }
    .contact-left {
        border-bottom: 1px solid #959595;
    }
    #animiSection p {
        padding: 10px;
    }
    .ddd-welcome, .ddd-info, #tattooSection img, .tattoo-pic-txt, .sugaring-welcome figure, .sugaring-info, .stex-pic, .studex {
        grid-column: span 2;
    }
    .facial-pic {
        width: 85%;
    }
}

@media (max-width: 645px) {
    .nav-info {
        grid-template-rows: 80% 1fr;
        align-self: center;
    }
    .nav-info a, .nav-info p {
        grid-column: span 2;
        justify-self: center;
    }
    #carouselExampleIndicators {
        width: 80%;
    }
}

@media (max-width: 576px) {
    #navbar {
        padding: 0 5px 0 0;
    }
    #navbar ul {
        padding: 0;
    }
    .section p {
        padding: 0 10px;
    }
    .service-cat {
        grid-template-columns: 65% 1fr;
    }
    ul {
        padding: 10px;
    }
    .service-cat {
        grid-column: span 2;
    }
    .service-cat p {
        text-align: left;
    }
    div p.pRight {
        padding: 0;
        text-align: right;
    }
    .products-list {
        grid-template-columns: 90px 1fr;
        gap: 10px;
    }
    .products-list p.pAbout {
        padding: 0;
    }
    .contact-wrapper {
        margin: 20px auto;
        width: 75%;
    }
    .contact-right p {
        text-align: left;
    }
    .contact-left, .contact-right {
        padding: 3px;
    }
    footer {
        grid-template-columns: 85% 1fr;
    }
    #carouselExampleIndicators {
        width: 100%;
    }
    .facial-pic {
        width: 95%;
    }
}