@media (max-width: 992px) {
    .contact-wrapper {
        margin: 100px 0 50px 50px;
        padding: 15px;
        gap: 15px;
        width: 50%;
    }
    .contact-left, .contact-right {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    nav {
        height: 140px;
        align-content: center;
        grid-template-columns: 30% 1fr;
    }
    .logo {
        height: 100%;
    }    
    .contactSection {
        background-position-x: -800px;
    }
    .contact-wrapper {
        margin: 100px 0 50px 50px;
    }
    .contact-left, .contact-right {
        grid-column: span 2;
    }
    .contact-left {
        border-bottom: 1px solid #959595; 
    }
}

@media (max-width: 645px) {
    .nav-info {
        grid-template-rows: 50% 1fr;
        align-self: center;        
    }
    .nav-info a, .nav-info p {
        grid-column: span 2;
        justify-self: center;
    }
}

@media (max-width: 576px) {
    ul {
        padding: 10px;
    }
    .service-cat {
        grid-column: span 2;
    }
    .contact-wrapper {
        margin: 20px auto;
        width: 70%;
    }
    
}