/*#region ------------------------------Basic Style--------------------------------*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-card-bg: rgba(53, 11, 0, 0.692);
    --content-bg: #0000009a;
}

html, body{
    height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: beige;
	background-color: #805F43;
	background-image: url(img/bg-tile2.jpg);
	background-repeat: round;
}

button {
	border-radius: .625rem;
	color: beige;
	background: #0d0d13;
	border: .0625rem solid;
	padding: .625rem 1.25rem;
    font-family: 'Caveat Brush';
}

.rc-img {
    max-width: 100%;
	background-color: var(--content-bg);
    border-radius: .625rem;
    margin-bottom: .3125rem;
}

a {
    text-decoration: none;
	color: peru;
	padding: .3125rem;
}

a:hover{
    color: #642F00;
}

h1, h2, h3, p {
    margin: 0;
	padding: 0;
}

h3 {
    background-color: var(--content-bg);
	border-radius: .625rem;
}

h4 {
    font-weight: normal;
	margin: 0;
	padding-left: 1.25rem;
}

.title {
    font-family: 'Caveat Brush';
	font-size: 2em;
}

li {
    font-family: 'Open Sans', sans-serif;
	font-size: 1.125em;
	text-align: justify;
	padding: .625rem;
}

.container{
    max-width: 100%;
}

.nav-item {
    margin: auto;
    min-width: 9.375rem;
}
/*#endregion*/

/*#region ------------------------------Mobile Overlay-----------------------------*/
#myMobile {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 1.875rem;
}

.overlay a {
    padding: .5rem;
    text-decoration: none;
    font-size: 1.625em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 1.25rem;
    right: 2.5rem;
    font-size: 2.5em;
}
/*#endregion*/

/*#region --------------------------Back to the Top Button-------------------------*/
#myBtn {
    display: none;
    position: fixed;
    bottom: .625rem;
    right: .625rem;
    z-index: 99;
    cursor: pointer;
    width: 3.75rem;
    padding: .3125rem;
    border-radius: .625rem;
    font-size: 1.25em;
}

#myBtn:hover {
    background-color: #555;
}
/*#endregion*/

/*#region ------------------------------Tab Menu Colours-------------------------------*/
.card-header h5 a{
    color: beige;
}

#tab-1, #heading-1 {
    background: #0d0d13;
    text-align: center;
    border-radius: .625rem;
}

#tab-2, #heading-2 {
    background: #fca644;
    text-align: center;
    border-radius: .625rem;
   
}

#tab-3, #heading-3 {
    background: #8f9c17;
    text-align: center;
    border-radius: .625rem;
}

#tab-4, #heading-4 {
    background: #247021;
    text-align: center;
    border-radius: .625rem;
}

#tab-5, #heading-5 {
    background: #232170;
    text-align: center;
    border-radius: .625rem;
}

#tab-6, #heading-6 {
    background: #e66d0b;
    text-align: center;
    border-radius: .625rem;
}

#tab-7, #heading-7 {
    background: #e60b54;
    text-align: center;
    border-radius: .625rem;
}

#tab-8, #heading-8 {
    background: #472204;
    text-align: center;
    border-radius: .625rem;
}

#tab-9, #heading-9 {
    background: #e60be6;
    text-align: center;
    border-radius: .625rem;
}

#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9{
    border-radius: .625rem;
    color: beige;
    border: .0625rem solid;
    padding: .625rem 1.25rem;
    font-family: 'Caveat Brush';
}

#tab-1:hover, #tab-2:hover, #tab-3:hover, #tab-4:hover, #tab-5:hover, #tab-6:hover {
    background-color: var(--main-card-bg);
}
/*#endregion*/

/*#region ------------------------Bootstrap Override-------------------------------*/
.nav-tabs {
    display:none;
    border-bottom: 0;
}

.card{
    background-color: var(--main-card-bg);
    margin-bottom: .625rem;
    position: inherit;
}

.card-body{
    padding: 0;
}
/*#endregion*/

/*#region ----------------------------Top Grid-------------------------------------*/
.welcome {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas: 
    "logo favs" 
    "intro intro" 
    "comment comment";
    gap: .625rem;
    max-width: 100%;
    font-size: 1.2em;
    justify-items: center;
    padding: .625rem;
    margin: .625rem;
    background-color: var(--main-card-bg);
    border-radius: .3125rem;
}

.logo {
    grid-area: logo;
    background-color: transparent;
    justify-self: right;
}

.favs {
    grid-area: favs;
    justify-self: left;
    align-self: center;
    font-size: 3em;
    text-align: center;
}

.intro {
    grid-area: intro;
    text-align: center;
}

.comment {
    grid-area: comment;
    text-align: center;
}
/*#endregion*/

/*#region ---------------------------Recipe Grid-----------------------------------*/
.recipe {
    grid-area: recipe;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-areas: 
    "cat_name cat_name"
    "rc_block ingredients"
    "method method";
}

.cat_name {
    grid-area: cat_name;
    justify-self: center;
    font-size: 2.625em;
    padding: 1.875rem 0 1.875rem 0;
}

.rc_block {
    grid-area: rc_block;
    padding: 1.25rem;
    justify-self: center;
    text-align: center;
    margin: .625rem;
    
}

.ingredients {
    grid-area: ingredients;
    padding: 1.25rem;
    background-color: var(--content-bg);
    border-radius: .625rem;
    margin: .625rem;
}

.ingredients ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .3125rem 3.125rem;
}

.method {
    grid-area: method;
    padding: 1.25rem;
    background-color: var(--content-bg);
    border-radius: .625rem;
    margin: .625rem;
}

.rc_block {
    grid-area: rc_block;
    max-width: 100%;
    justify-self: center;
}
/*#endregion*/

@media(min-width:48rem) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }
    
    .card .card-header {
        display:none;
    }  
    
    .card .collapse{
        display:block;
    }
}

#divider{
    text-align: center;
    font-size: 2.625em;
}

/*#region ------------------------------Comments-----------------------------------*/
.comments {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas: 
    "comment-people comment-form";
    background-color: var(--main-card-bg);
    padding: .625rem;
    margin: .625rem;
    border-radius: .3125rem;
}
.comments-list {
    padding: 0;
}
.commenter {
    border-radius: 50%;
    float: left;
    margin: auto .625rem;
}
.comment-date {
    padding: .3125rem;
}
.comment-text {
    background-color: var(--content-bg);
    padding: 1.25rem;
    border-radius: .625rem;
    margin: .625rem;
}
.comment-text p {
    text-align: justify;
}
.comment-people {
    grid-area: comment-people;
}
.comment-form {
    grid-area: comment-form;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr 1fr 15.625rem 1fr;
    grid-template-areas:
    "lac lac" 
    "yourName yourEmail"
    "yourMessage yourMessage"
    ". postComment";
    background-color: var(--content-bg);
    padding: 1.25rem;
    border-radius: .625rem;
    margin: .625rem;
    gap: .625rem;
}
#lac {
    grid-area: lac;
}
#yourName {
    grid-area: yourName;
}
#yourEmail {
    grid-area: yourEmail;
}
#yourMessage {
    grid-area: yourMessage;
}
#postComment {
    grid-area: postComment;
    max-width: 12.5rem;
    justify-self: end;
    font-size: 1.25rem;    
    padding: .3125rem;
}
#postComment:hover {
    background-color: #555;
}
#yourName input, #yourEmail input, #yourMessage textarea {
    width: 100%;
    height: 100%;
}
/*#endregion*/

/*#region -----------------------------------Footer--------------------------------*/
.footer {
    display: grid;
    grid-template-columns: 1fr 65% 1fr;
    grid-template-areas: 
    "ex-sign1 disclaimer ex-sign2"
    "ex-sign1 social ex-sign2";
    background-color: var(--main-card-bg);
}
.ex-sign1 {
    grid-area: ex-sign1;
    max-width: 6.25rem;
    justify-self: center;
    align-self: center;
}
.ex-sign2 {
    grid-area: ex-sign2;
    max-width: 6.25rem;
    justify-self: center;
    align-self: center;
}
.disclaimer {
    grid-area: disclaimer;
    text-align: center;
}
.social {
    grid-area: social;
    justify-self: center;
}
/*#endregion*/

/*#region ----------------------------Media Queries--------------------------------*/
@media (max-width: 62.5rem) {
    .nav-tabs {
        display: none;
    }
    #myMobile {
        display: block;
        margin: .625rem .9375rem;
        padding: .3125rem;
        border: .0625rem solid beige;
        position: fixed;
        background: #00000086;
        color: beige;
        font-size: 1.25rem;
    }
    #myBtn {
        width: 3.125rem;
        height: 1.875rem;
        right: .3125rem;
        padding: 0;
    }
    .logo {
        align-self: center;
        justify-self: right;
    }
    .favs {
        align-self: center;
        justify-self: left;
        font-size: 2em;
    }
    button {
        align-self: center;
        font-size: 1.75em;
    }
    .close {
        color: beige;
        opacity: 1;
        font-size: 1.75em;
        text-align: center;
        float: none;
        font-weight: 400;
        text-shadow: none;
    }
    .close:hover {
        color: white;
    }
    label{
        font-size: 1.625em;
    }
    .recipe {
        grid-template-areas: 
        "cat_name cat_name"
        "rc_block ingredients"
        "method method";
    }
    .rc_block {
        align-self: center;
    }
    #divider {
        text-align: center;
        font-size: 1.625em;
    }
    #footer {
        position: relative;
        height: 625rem;
        margin-top: -25rem;
        text-align: center;
        padding: .625rem 0;
        font-size: 1em;
    }
}

@media (max-width: 43.75rem) {
    .recipe {
        grid-template-areas: 
        "cat_name cat_name"
        "rc_block rc_block"
        "ingredients ingredients"
        "method method";
    }
    .ingredients, .method {
        margin: .3125rem;
    }
    .comments {
        grid-template-areas: 
        "comment-people comment-people"
        "comment-form comment-form";
    }
    .comments-list {
        padding: 0;
    }
    .ex-sign1, .ex-sign2 {
        max-width: 5rem;
    }
}
   
@media (max-width: 31.25rem) {
    .menu-list li {
        padding: .3125rem;
    }
    .menu-list a {
        padding: .3125rem;
    }
    .logo {
        align-self: center;
    }
    .recipe {
        grid-template-columns: 100%;
        grid-template-areas: 
        "cat_name"
        "rc_block"
        "ingredients"
        "method";
    }
    .ingredients, .method {
        margin: .3125rem;
    }
    .ingredients ul {
        display: block;
    }
    #myMobile {
        font-size: 1em;
    }
    footer {
        padding: .3125rem;
        background: url(/img/exclamation-triangle-solid.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .ex-sign1, .ex-sign2 {
        display: none;
    }
}
/*#endregion*/