@media (min-width: 580px) {
    .menu-wrap {
        display: none;
    }

    .nav {
        display        : flex;
        align-items    : center;
        justify-content: flex-end;
        height: 74px;
    }

    .logo {
        position             : absolute;
        top                  : 20px;
        left                 : 1rem;
        width                : 200px;
        display              : grid;
        grid-template-columns: 31px 1fr;
        gap                  : 5px;
        padding              : 0 0 0 20px;
        text-decoration      : none;
        color                : #fff;
    }

    .logo h2 {
        font-size  : 0.85rem;
        font-weight: normal;
    }

    .logo h2:hover {
        color: #a50505;
    }
    ul {
        list-style-type: none;
        margin-right: 20px;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a,
    .drop-btn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover,
    .dropdown:hover .drop-btn {
        background-color: var(--hover-bg);
        color: #0056b3;
        border-radius: 5px;
        transition   : var(--ease);
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--nav-bg);
        background-image: url(/WOW/img/bg_texture_dark.png);
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        box-shadow   : 0 0 10px #666;
        transition   : var(--ease);
        margin-left  : 18px;
        border-radius: 0 50px 50px 0;
        background   : #7686a8;
        color        : #0056b3;
        background   : #3a3a3a44 url(/WOW/img/bg_texture_dark.png);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* .navbar-nav {
        display        : flex;
        justify-content: flex-end;
        list-style     : none;
    } */

    /* .nav-item {
        padding: 20px;
    } */

    /* .nav-item:hover {
        padding: 20px;
        background   : var(--hover-bg);
        transition   : var(--ease);
        border-radius: 5px;
    } */

    /* .nav-link {
        font-size      : 1.25rem;
        text-decoration: none;
    } */

    /* .dropdown-menu {
        list-style: none;
        display       : grid;
        width         : 250px;
        background    : #151515 url(/WOW/img/bg_texture_dark.png);
        border        : 1px solid #2b2a2a;
    } */
    /* .dropdown-item {
        padding: 10px;
    } */
    /* .dropdown-item a {
        text-decoration: none;
        color       : #fff;
        font-size   : 20px;
        width       : 240px;
        height      : 50px;
        padding     : 10px;
        margin      : 5px 0;
        transition  : var(--ease);
        border-right: 3px solid transparent;
    } */

    /* .dropdown-menu a:hover {
        box-shadow   : 0 0 10px #666;
        transition   : var(--ease);
        margin-left  : 18px;
        border-radius: 0 50px 50px 0;
        background   : #7686a8;
        color        : #0056b3;
        background   : #3a3a3a44 url(/WOW/img/bg_texture_dark.png);
    } */

    .active>a {
        color      : #a50505 !important;
        font-weight: bolder;
    }
}