/* #region ---------------------------Main---------------------------------- */

* {
    box-sizing                : border-box;
    scroll-behavior           : smooth;
    -webkit-overflow-scrolling: touch;
    margin                    : 0;
    padding                   : 0;
}

@font-face {
    font-family: 'friz-quadrata';
    src        : url('/WOW/fonts/FrizQuadrataTT.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

:root {
    --nav-bg        : #151515;
    --hover-bg      : #f1f1f144;
    --lilac         : #7686a8;
    --navbar-toggler: #e6e6e6;
    --font-title    : "friz-quadrata", serif;
    --font-txt      : "Libre Caslon Text", serif;
    --ease          : all 500ms ease-in-out;
}

html,
body {
    height: 100%;
}

body {
    font-size       : 100%;
    font-family     : var(--font-txt);
    background-color: var(--lilac);
    background      : radial-gradient(circle, #7686a8 0%, #c8c2c4 84%, #d3ced4 100%);
    background-image: url(/WOW/img/ui_texture_stone_light.jpg);
}

header {
    position        : fixed;
    top             : 0px;
    width           : 100%;
    height          : 74px;
    background-image: url(/WOW/img/nav_bg.png);
    z-index         : 10;
}

h1,
h2,
a {
    font-family: var(--font-title);
}

a {
    color         : white;
    text-transform: uppercase;
}

.anchor {
    margin-top: 74px;
    color     : transparent;
}

section {
    margin-top: 74px;
}

section img{
    max-width: 100%;
}

section p {
    padding   : 10px;
    text-align: justify;
}

/* #endregion */

/* #region ---------------------------Nav----------------------------------- */

.navbar {
    height: 74px;
}

.logo {
    position             : absolute;
    top                  : 0.75rem;
    left                 : 1rem;
    width                : 200px;
    display              : grid;
    grid-template-columns: 31px 1fr;
    gap                  : 5px;
    padding              : 0 0 0 20px;
    text-decoration      : none;
    color                : #fff;
}

.logo h2 {
    font-size  : 0.85rem;
    font-weight: normal;
}

.logo h2:hover {
    color: #a50505;
}

.navbar-toggler {
    position: absolute;
    top     : 0.8rem;
    right   : 1rem;
    border  : 1px solid var(--navbar-toggler);
    color   : var(--navbar-toggler);
    padding : 0;
}

.navbar-toggler:hover {
    background: var(--hover-bg);
    transition: var(--ease);
}

.navbar-toggler-icon {
    color  : var(--navbar-toggler);
    width  : 69.5px;
    padding: 5px 0;
}

#myNav {
    justify-content: flex-end;
}

.navbar-nav {
    position     : relative;
    top          : 3rem;
    background   : #151515 url(/WOW/img/bg_texture_dark.png);
    border-radius: 5px;
}

.nav-item:hover {
    background   : var(--hover-bg);
    transition   : var(--ease);
    border-radius: 5px;
}

.nav-link {
    font-size: 1.25rem;
}

.dropdown {
    background: #151515 url(/WOW/img/bg_texture_dark.png);
}

.dropdown-menu {
    width      : 250px;
    background : #151515 url(/WOW/img/bg_texture_dark.png);
    margin-left: 1.25rem;
    border     : 1px solid #2b2a2a;
}

.dropdown-menu a {
    color       : #fff;
    font-size   : 20px;
    width       : 240px;
    height      : 50px;
    padding     : 10px;
    margin      : 5px 0;
    transition  : var(--ease);
    border-right: 3px solid transparent;
}

.dropdown-menu a:hover {
    box-shadow   : 0 0 10px #666;
    transition   : var(--ease);
    margin-left  : 18px;
    border-radius: 0 50px 50px 0;
    background   : #7686a8;
    color        : #0056b3;
    background   : #3a3a3a44 url(/WOW/img/bg_texture_dark.png);
}

.active>a {
    color      : #a50505 !important;
    font-weight: bolder;
}

.gold-under::before,
.gold-under::after {
    transition     : all .25s cubic-bezier(.23, 1, .32, 1) 0s;
    opacity        : 0;
    content        : "";
    pointer-events : none;
    display        : block;
    height         : 12px;
    width          : 9px;
    position       : absolute;
    bottom         : -7px;
    left           : 21px;
    background     : transparent url(/WOW/img/nav_active.png) bottom no-repeat;
    background-size: auto 23px;
}

/* #endregion */

/* #region --------------------------Home----------------------------------- */

#home {
    position: relative;
    top     : -2rem;
    display : grid;
}


/* #endregion */

/* #region -------------------------World----------------------------------- */

/* #endregion */

/* #region -------------------------WowHead--------------------------------- */

/* #endregion */

/* #region ------------------------Icy-Veins-------------------------------- */

/* #endregion */

/* #region -----------------------MMO-Champion------------------------------ */

/* #endregion */

/* #region -------------------------Media----------------------------------- */

/* #endregion */

/* #region -------------------------MediaQ-----------------------------------*/

@media (min-width: 768px) {
    .navbar-nav {
        right     : 2rem;
        top       : 0px;
        background: transparent;
    }

    .dropdown {
        background: transparent;
    }

    .nav-item {
        padding: 0 1rem;
    }

    .nav-link,
    .pl-5 {
        padding: 0.5rem !important;
    }

    .dropdown-menu {
        margin: 0;
    }
}

/* #endregion */