/* #region ---------------------------Main---------------------------------- */

* {
    box-sizing     : border-box;
    scroll-behavior: smooth;
    margin         : 0;
    padding        : 0;

}

@font-face {
    font-family: 'friz-quadrata';
    src        : url('/WOW/fonts/FrizQuadrataTT.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

:root {
    --nav-bg        : #151515;
    --hover-bg      : #46464644;
    --lilac         : #7686a8;
    --navbar-toggler: #0808085d;
    --font-title    : "friz-quadrata", serif;
    --font-txt      : "Libre Caslon Text", serif;
    --ease          : all 500ms ease-in-out;
    --menu-speed    : 0.75s;
}

html,
body {
    height: 100%;
}

body {
    font-size       : 100%;
    font-family     : var(--font-txt);
    background-color: var(--lilac);
    background      : radial-gradient(circle, #7686a8 0%, #c8c2c4 84%, #d3ced4 100%);
    background-image: url(/WOW/img/ui_texture_stone_light.jpg);
}

header {
    position        : fixed;
    top             : 0px;
    width           : 100%;
    height          : 74px;
    background-image: url(/WOW/img/nav_bg.png);
    z-index         : 10;
}

h1,
h2,
a {
    font-family: var(--font-title);
}

a {
    color         : white;
    text-transform: uppercase;
}

.anchor {
    margin-top: 74px;
    color     : transparent;
}

section {
    margin-top: 74px;
}

section img {
    max-width: 100%;
}

section p {
    padding   : 10px;
    text-align: justify;
}

.nav {
    display: none;
}

/* #endregion */

/* #region --------------------------Home----------------------------------- */

#home {
    position: relative;
    top     : -2rem;
    display : grid;
}


/* #endregion */

/* #region -------------------------World----------------------------------- */

/* #endregion */

/* #region -------------------------WowHead--------------------------------- */

/* #endregion */

/* #region ------------------------Icy-Veins-------------------------------- */

/* #endregion */

/* #region -----------------------MMO-Champion------------------------------ */

/* #endregion */

/* #region -------------------------Media----------------------------------- */

/* #endregion */